*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: roboto;
    position: relative;
    text-decoration: none;
  }
  h1{
      font-weight: 700px;
      font-size: 72px;
  }
.topo{
    background-color: #1CD1B0;
    padding: 10px;
    width: 100%;
  }
  
  .topo2{
    background-color: #00669F;
    display: flex;
    align-items: center;
  }
.container{
    padding:330px 400px 350px 410px;
}
  .caixa-login{
      width:620px;
      height:430px;
  }
  .formulario{
      margin-top: 50px;
      text-align: center;
  }
  input{
      display: block;
      width:620px;
      height: 60px;
      margin: 10px 0;
  }
  .botao-entrar{
      margin:50px 0 20px;
      width:615px;
      height: 50px;
      border-radius: 23px;
      background-color: #1CD1B0;
  }
  footer{
    height: 51px;
    width: 100%;
    background-color: #00669F;
    color: white;
    position: absolute; 
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }