*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: roboto;
    text-decoration: none;
    position:relative;
  }
  
  header{
    position: sticky;
    top: 0px;
    z-index: 1;
  }
  
  .topo{
    background-color: #1CD1B0;
    padding: 10px;
    width: 100%;
  }
  
  .topo2{
    background-color: #00669F;
    display: flex;
    align-items: center;
  }
  .topo3{
      width:100%;
      height: 40px;
      background-color: black;
  }
  .barra-nav{
      display: flex;
      color: white;
      justify-content: flex-end;
      padding: 10px 0;
  }
  li{
      display: inline;
      margin: 20px;
  }
  main .container{
    margin-left: 120px;
  }
  .personagens{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    
  }
  .card-perso{
    width: 374px;
    background: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 86px 220px 151px 0px;
  }
  
  .batman-topo{
    height: 218px;
    width: 374px;
    background-image: url("../image/city.png");
    padding: 17px 25px 40px 25px;
  }
  .arlequina-topo{
    height: 218px;
    width: 374px;
    background-image: url("../image/city2.png");
    padding: 17px 25px 40px 25px;
  }
  
  .perfil{
    border-radius:100px;
    position: absolute;
    margin: 133px 0 0 55px;
  }
  
  .textos{
    padding-top: 90px;
  }
  .nome-perso{
    margin-left: 140px;
  }
  
  .texto{
    padding: 30px;
    text-align: center;
  }
  
  .botao{
    height: 54px;
    width: 145px;
    background-color: #00669F;
    color: white;
    margin: 50px 25px 25px 115px;
  }
  
  footer{
    height: 51px;
    width: 100%;
    background-color: #00669F;
    color: white;
    position: absolute; 
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  