*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: roboto;
}
.oferta{
    padding-left: 90px;
}
.topo-direita{
    padding-right: 25px;
    position: relative;
}
.topo-1{
    width:100%;
    display: flex;
    justify-content: space-between;
    height: 20px;
    background-color: black;
    color:white;
    
}
.topo-2{
   background-color: #F0A83E;
   width: 100%;
   height: 62px;
   color: white;
   display: flex;
   align-items: center;
   justify-content: space-between;
   
}
.img-logo{
    height: 23px;
    width: 166px;
    padding-left: 50px;
}
li{
    display: inline;
    padding: 0 25px;
}
.banner{
    background-image: url(../image/img-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: flex-end;
}
.textos{
    align-self: center;
    text-align: center;
    width: 365;
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.texto-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    font-size: 30px;
    background-color: white;
    width: 365px;
    height: 54px;
    margin-right: 12px;
}
.botao-comedor{
    width: 141px;
    height: 49px;
    align-self: center;
    background-color: #F0A83E;
    color: white;
}
.main-container{
    width:1024px;
    text-align: center;
    margin-top: 25px;
}
.pata-produto{
    width: 100%;
    margin: 0 auto;
}
h1.titulo{
    margin-bottom: 20px;;
}
.produtos{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 0 auto;
}
.preco{
    color:#F0A83E;
}
.form-contato{
    text-align: center;
    padding-top: 80px;
}

.input-form{
    width: 340px;
    height: 40px;
    border-radius: 15px;
    padding-left: 15px;
    background-color: #3C2313;
    color: white;
    margin-bottom: 10px;
}
.botao{
    width: 110px;
    height: 34px;
    border-radius: 15px;
    color: white;
}
.botao-limpar{
    background-color: #8A8787;
}
.botao-enviar{
    background-color: #F0A83E;
}
.rodape-1{
    margin-top: 80px;
    background-color: #F0A83E;
    height: 60px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rodape-1-1{
    display: flex;
    align-items: center;
    color: white;
}
.img-rodape-1{
margin-right: 10px;
}
.input-rodape{
    width: 271px;
    height: 40px;
    border-radius: 15px;
    background-color: white;
    color: white;
    padding-left: 15px;
}
.botao-enviar2{
    background-color: #3C2313;
    width: 70px;
    height: 40px;
}
.rodape-2{
    height: 284px;
    background-color: #3C2313;
    display: flex;
    padding: 0 75px 25px 0;
    justify-content: space-between;
}
.rodape2-2{
    display: flex;
    flex-direction: column;
}
.rodape2-2-1{
    display: flex;
    margin: 27px 30px 0px 75px;
}
.texto{
    color: white;
    margin-left: 30px;
}
.logo-rodape{
    height: 23px;
    width: 170px;
    align-self: center;
}
.rodape-3{
    text-align: center;
    background-color: black;
    color: white;
}

@media (max-width:425px){
    .topo-1{
        display: none;
    }
    .main-container{
        width:425px;
    }
    .produtos{
        display: block;
        width: 425px;
    }
    .rodape-1{
        display: block;
        height:100px;
    }
}